Repository wp-cli/core-command, pull requests merged in 2019-10, with the labels that each got.

#134 Switch framework to dev-master to fix PHP notice
  composer.json
Labels: scope:distribution

#132 `install` changed to `installation`
  src/Core_Command.php
Labels: command:core-multisite-install

#122 Fixes #118: On multisite-convert, don't assume site_id is 1
  src/Core_Command.php
Labels: command:core-multisite-convert

#136 Fix the build
  features/core-download.feature
Labels: command:core-download, scope:testing

#135 Support `wp core download https://somesite/build.zip`
  features/core-download.feature
  src/Core_Command.php
Labels: command:core-download
