Repository wp-cli/core-command, pull requests merged in 2022-10, with the labels that each got.

#212 Remove only themes/plugins folders on `--skip-content`
  features/core-download.feature
  src/Core_Command.php
Labels: bug, command:core-install

#213 Add missing copy operation to `--no-extract`
  features/core-download.feature
  src/Core_Command.php
Labels: bug, command:core-download

#215 Avoid deleting TinyMCE themes/plugins by using more precise check
  features/core-download.feature
  src/Core_Command.php
Labels: bug, command:core-download

#216 Allow `wordpress-core-installer` to write plugins
  composer.json
Labels: scope:distribution
